{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--<p>отсюда начинается код</p>-->
    <style>
        main {
            margin-top: 150px;
        }
    </style>
</head>
<body>
<div class="container marketing">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Carousel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">

                    {% include 'main/includes/inc_main_menu.html' %}
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        <!-- Three columns of text below the carousel -->
        <h1>{{ title }}</h1>
        <div class="row">
            {% block Итерация_по_студентам %}
            {% endblock %}
        </div><!-- /.row -->
    </main>

    {% block footer %}
    {% endblock %}
</div>
</body>
</html>