{% extends 'main/base.html' %}

{% block Итерация_по_студентам %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <form method="post">
                        {% csrf_token %}
                        Уверены, что хотите удалить студента "{{ object }}?<br>
                        <input type="submit" class="btn btn-outline-danger" value="Уверен">
                    </form>
                </table>
            </div>
            <div class="card-footer">
                <a href="{% url 'main:students_list' %}" class="btn btn-primary"><< Назад </a>
            </div>
        </div>
    </div>
{% endblock %}